.App-header {
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(bookshelves.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 800px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 30px;
}
